html {
  font-size: 62.5%;
}
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
ol,
ul,
li,
article,
footer,
header,
hgroup,
menu,
nav,
output,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}
:root {
  --main-color: #ff565c;
  --black-001: #1d1f24;
  --gray-001: #ebebeb;
  --gray-002: #f2f3f6;
  --back-color: #f9fafc;
  --point-font: "Oswald", sans-serif;
  --regular-font: "Lato", sans-serif;
}

button {
  appearance: none;
  border: 0;
  padding: 0;
  background-color: inherit;
  border-radius: 0;
  color: inherit;
}

a,
a:hover {
  text-decoration: none;
}
